<footer class="footer uk-background-muted">
    <div class="footer__body">
        
        <nav class="footer__item about">
            <div class="about__body">
                <h3 class="about__title title">
                    О компании
                </h3>
                <ul class="support__list">
                    <a class="uk-link-heading support__item link" href="">
                        <li>
                            О нас
                        </li>
                    </a>
                    <a class="uk-link-heading support__item link" href="">
                        <li>
                            Бренд
                        </li>
                    </a>
                    <a class="uk-link-heading support__item link" href="">
                        <li>
                            Реквизиты
                        </li>
                    </a>
                </ul>                
            </div>
        </nav>
        
        <nav class="footer__item support">
            <div class="support__body">
                <h3 class="support__title title">
                    Поддержка
                </h3>
                <ul class="support__list">
                    <a class="uk-link-heading support__item link" href="">
                        <li>
                            Возврата
                        </li>
                    </a>
                    <a class="uk-link-heading support__item link" href="">
                        <li>
                            Доставка
                        </li>
                    </a>
                    <a class="uk-link-heading support__item link" href="">
                        <li>
                            Контакты
                        </li>
                    </a>
                    <a class="uk-link-heading support__item link" href="">
                        <li>
                            Условия использования
                        </li>
                    </a>
                    <a class="uk-link-heading support__item link" href="">
                        <li>
                            Подарочные карты
                        </li>
                    </a>
                </ul>                
            </div>
        </nav>

        
        <nav class="footer__item account">
            <div class="account__body">
                <h3 class="account__title title">
                    Аккаунт
                </h3>
                <ul class="account__list">
                    <a uk-toggle="target: #sign-in-email-modal" class="account__item link">
                        <li>
                            Войти по почте
                        </li>
                    </a>
                    <a uk-toggle="target: #sign-in-tel-modal" class="account__item link">
                        <li>
                            Войти по телефону
                        </li>
                    </a>    
                </ul>
            </div>
        </nav>


        <div class="footer__item social-links">
            <div class="social-links__body">
                <span class="social-links__title title">
                    Соц. сети
                </span>
                <div class="social-links__list">
                   <a class="social-links__link" href="https://vk.com">
                        <img class="social-links__icon" src="../static/images/vk-reproductor.svg" alt="alt text">
                   </a>
                   <a class="social-links__link" href="https://instagram.com">
                        <img class="social-links__icon" src="../static/images/instagram.svg" alt="alt text">
                   </a>
                    <a class="social-links__link" href="https://facebook.com">
                        <img class="social-links__icon" src="../static/images/facebook.svg" alt="alt text">
                    </a>  
                </div>
            </div>
        </div>

    </div>
</footer>
