{% extends "base.html" %}


{% block content %}
    <h3 class="tm-page-title tm-page-title__catalog">
        {{ pageTitles.menShoes }}
    </h3>

    <div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-margin-small-bottom catalog-nav">
        <div class="uk-flex uk-margin-small-top">
            <button id="show-filters-btn" class="uk-button uk-button-default uk-button-small@sm" onclick="showFilters()">Показать фильтры</button>
            <button id="clear-filters-btn" class="uk-button uk-button-default uk-margin-small-left" onclick="clearFilters()">Очистить</button>    
        </div>
        <div class="uk-flex uk-flex-between uk-margin-small-top sort">
            <label class="uk-form-label uk-flex uk-flex-middle sort__label" for="form-horizontal-select">
                <span>
                    Сортировать
                </span>
            </label>
            <div class="uk-form-controls sort__select-container">
                <select class="uk-select sort__select" id="form-horizontal-select">
                    <option>Рекомендованные</option>
                    <option>Цена: по убыванию</option>
                    <option>Цена: по возрастанию</option>
                    <option>Самые новые</option>
                </select>
            </div>
        </div>
    </div>



    <div class="filters uk-animation-slide-top">
        <ul class="filters__list">
            <li class="filter">
                <h5 class="filter__title">Цена</h5>
                <ul class="filter__list prices">
                    <li class="filter__item price">До 3 000 ₽</li>
                    <li class="filter__item price">До 5 000 ₽</li>
                    <li class="filter__item price">До 8 000 ₽</li>
                    <li class="filter__item price">До 10 000 ₽</li>
                    <li class="filter__item price">До 15 000 ₽</li>
                </ul>
            </li>
            <li class="filter">
                <h5 class="filter__title">Размер</h5>
                <ul class="filter__list sizes">
                    <li class="filter__item size">37</li>
                    <li class="filter__item size">39</li>
                    <li class="filter__item size">40</li>
                    <li class="filter__item size">41.5</li>
                    <li class="filter__item size">42</li>
                    <li class="filter__item size">42.5</li>
                    <li class="filter__item size">43</li>
                    <li class="filter__item size">44</li>
                    <li class="filter__item size">45</li>
                </ul>    
            </li>
            <li class="filter">
                <h5 class="filter__title">Цвет</h5>
                <ul class="filter__list colors">
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                    <li class="filter__item color"></li>
                </ul>    
            </li>
            <li class="filter">
                <h5 class="filter__title">Бренд</h5>
                <ul class="filter__list brends">
                    <li class="filter__item brend">Adidas <span>(27)</span></li>
                    <li class="filter__item brend">ASICS <span>(8)</span></li>
                    <li class="filter__item brend">Columbia <span>(5)</span></li>
                    <li class="filter__item brend">Demix <span>(19)</span></li>
                    <li class="filter__item brend">Kappa <span>(5)</span></li>
                    <li class="filter__item brend">Nike <span>(20)</span></li>
                    <li class="filter__item brend">Puma <span>(15)</span></li>
                    <li class="filter__item brend">FILA <span>(16)</span></li> 
                </ul>   
            </li>
            <li class="filter">
                <h5 class="filter__title">Сезон</h5>
                <ul class="filter__list seasons">
                    <li class="filter__item season">Демисезон</li> 
                    <li class="filter__item season">Весна-лето</li> 
                    <li class="filter__item season">Весна-осень</li> 
                    <li class="filter__item season">Осень-зима</li> 
                    <li class="filter__item season">Лето</li> 
                    <li class="filter__item season">Зима</li>
                </ul>   
            </li>
        </ul>
    </div>

    <div class="uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1 products-grid" uk-grid>
        {% for i in range(0, 10) %}
            {% include "templates/partials/product-card.html" %}    
        {% endfor %}
    </div>

{% endblock %}