{% extends "base.html" %}


{% set title = "product page" %}

{% block content %}
    
<div class="product uk-margin-top">


    
    <div class="product__container uk-flex uk-flex-center uk-flex-wrap">
        <div class="uk-width-1-1 uk-width-1-2@s uk-flex uk-flex-right product__images">

            <div uk-slider class="product__slider">
                <div class="uk-position-relative">
                    <div class="uk-slider-container" uk-lightbox="animation: slide">
                        <ul class="uk-slider-items uk-child-width-1-1">
                            <li>
                                <a href="static/images/кроссовки-air-force_1.jpg">
                                    <img src="static/images/кроссовки-air-force_1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="static/images/кроссовки-air-force_2.jpg">
                                    <img src="static/images/кроссовки-air-force_2.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="static/images/кроссовки-air-force_3.jpg">
                                    <img src="static/images/кроссовки-air-force_3.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="static/images/кроссовки-air-force_4.jpg">
                                    <img src="static/images/кроссовки-air-force_4.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="static/images/кроссовки-air-force_2.jpg">
                                    <img src="static/images/кроссовки-air-force_2.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-visible@s">
                        <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>

        </div>
        <div class="uk-width-1-1 uk-width-1-3@s product__info">
            <h1 class="product__title">
                Nike Air Force 1 '07
            </h1>
            <div class="uk-flex uk-flex-wrap">
                <div>
                    <p class="product__availability">В наличии</p>
                    <h3 class="product__price">
                        7 999 ₽
                    </h3>        
                </div>
                            
                <div class="product__sizes-block">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li><a href="#">RUS</a></li>
                        <li><a href="#">EUR</a></li>
                        <li><a href="#">US</a></li>
                        <li><a href="#">См</a></li>
                    </ul>
                    <ul class="uk-switcher ">
                        <li>
                            <ul class="product__sizes">
                                <li class="product__size uk-border-pill">37</li>
                                <li class="product__size uk-border-pill">39</li>
                                <li class="product__size uk-border-pill">40</li>
                                <li class="product__size uk-border-pill">41.5</li>
                                <li class="product__size uk-border-pill">42</li>
                                <li class="product__size uk-border-pill">42.5</li>
                                <li class="product__size uk-border-pill">43</li>
                                <li class="product__size uk-border-pill">44</li>
                                <li class="product__size uk-border-pill">45</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product__sizes">
                                <li class="product__size uk-border-pill">1</li>
                                <li class="product__size uk-border-pill">3</li>
                                <li class="product__size uk-border-pill">4.5</li>
                                <li class="product__size uk-border-pill">4</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product__sizes">
                                <li class="product__size uk-border-pill">31</li>
                                <li class="product__size uk-border-pill">31</li>
                                <li class="product__size uk-border-pill">33</li>
                                <li class="product__size uk-border-pill">33.5</li>
                                <li class="product__size uk-border-pill">31</li>
                                <li class="product__size uk-border-pill">42.5</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="product__sizes">
                                <li class="product__size uk-border-pill">29</li>
                                <li class="product__size uk-border-pill">29.5</li>
                                <li class="product__size uk-border-pill">30</li>
                                <li class="product__size uk-border-pill">30.5</li>
                                <li class="product__size uk-border-pill">31</li>
                                <li class="product__size uk-border-pill">31.5</li>
                                <li class="product__size uk-border-pill">32</li>
                                <li class="product__size uk-border-pill">32.5</li>
                                <li class="product__size uk-border-pill">33</li>
                                <li class="product__size uk-border-pill">33.5</li>
                                <li class="product__size uk-border-pill">34</li>
                                <li class="product__size uk-border-pill">34.5</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="uk-child-width-1-1 product__btn-container">
                <a class="uk-button uk-button-primary uk-border-pill product__buy-btn" href="cart.html">
                    Купить
                </a>
                <a class="uk-button uk-button-default uk-border-pill product__save-btn">
                    Сохранить <span uk-icon="heart"></span>
                </a>    
            </div>

            <p class="product__description">
                Модель для баскетбольного матча в парке, воскресного барбекю и солнечной погоды. Пусть солнце сияет для тебя с кроссовками Nike Air Force 1 '07. Это обновленная версия классической баскетбольной модели из кожи с прошитыми накладками и идеальным сиянием, выполненная полностью в оригинальной белой расцветке.
            </p>
        </div>

    </div>


    <div class="related-products uk-margin-large">
        <div class="uk-width-1-1">
            <h2 class="uk-text-center">
                Похожие товары
            </h2>
        </div>

        <div class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2@s uk-child-width-1-1 related-products" uk-grid>
            {% for i in range(0, 6) %}
                {% include "templates/partials/product-card.html" %}    
            {% endfor %}
        </div>
    </div>
</div>
   
{% endblock %}