<div>
    <div class="uk-card uk-card-default product-card">
        <div class="uk-card-media-top">
            <a href="product.html">
                <img src="../static/images/кроссовки-air-force_1.jpg" alt="" class="product-card__img">
            </a>
        </div>
        <div class="product-card__body">
            <div class="uk-flex uk-flex-between">
                <a href="product.html">
                    <h3 class="uk-card-title uk-margin-remove">Nike Air Force 1 Mid</h3>
                </a>
                <span uk-icon="heart" class="uk-icon-button like-btn"></span>                    
            </div>


            <p class="uk-margin-small product-card__availability">В наличии в <span>3</span> цветах</p>   
            <p class="uk-margin-small product-card__price">7 999 ₽</p>   
        </div>
    </div>
</div>